/* Controls the display of the footer  */
main {
	min-height: 80vh;
}

.card-title {
	height: 2.6rem;
	overflow: hidden;
}

h3 {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}

/* Controls the display of the quantity for the ProductScreen*/
.select-form {
	padding: 0.75rem 0.2rem;
}
